@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
    --white: #ecfdf5;
    --primary-clr: #86efac;
    --secondary-clr: #22c55e;
    --tertiary-clr: #166534;
    --quaternary-clr: #052e16;

}

.stop-all {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body {
    font-family: "New Amsterdam";
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto 1fr;
}

nav {
    background-color: white;
    height: 100vh;
    width: 20vw;
    min-width: 150px;
    box-shadow: 0px 0px 10px 2px var(--primary-clr);
    padding-top: 10vh;

    display: grid;
    grid-auto-rows: 50px;
}

.card {
    font-size: 1.2rem;
    color: var(--quaternary-clr);
    padding-left: 30px;
    padding-top: 25px;
}

.card:hover {
    background-color: #dcfce7;
}

.act {
    background-color: var(--primary-clr);
    border-bottom: 2px solid var(--secondary-clr);
}

#add {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding-bottom: 7px;
    font-size: 4rem;
    background-color: var(--secondary-clr);
    color: var(--quaternary-clr);
    border: none;
    border-radius: 1000px;

    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 0;
}

.content {
    margin: 70px 150px;
}

.content .btns-div {
    display: grid;
    gap: 60px;
    grid-template-columns: 300px 300px;
    grid-auto-flow: column;

    font-size: 1.7rem;
}

.btns-div button {
    border-radius: 10px;
    border: none;
    padding: 7px 0;
}

.new-btn {
    background-color: var(--secondary-clr);
}

.remove-btn {
    background-color: rgb(255, 73, 73);
}

.pop {
    font-size: 2.2rem;
    width: 600px;
    height: fit-content;
    background-color: white;
    margin: 150px auto auto auto;
    border: 4px solid var(--secondary-clr);
    border-radius: 20px;
    padding: 30px 40px 40px 40px;

    position: absolute;
    inset: 0;
    z-index: 2;
}

.pop legend {
    margin-bottom: 10px;
    text-decoration: underline;
}

.pop form {
    font-size: 1.8rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px 20px; 
    align-items: center;
}

.pop form legend {
    grid-column: 1 / -1;
}

.desc {
    resize: none;
    font-size: 1rem;
    height: 7rem;
    width: 100%;
}

.desc-div {
    grid-column: 1 / -1;
}

.desc-div label {
    display: block;
}

.priorities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column: 1 / -1;
    justify-items: center;
}

.priority input {
    display: none;
}

.priorities div {
    display: contents;
    text-align: center;
    width: 100%;
}

.priority label {
    box-sizing: content-box;
    align-self: end;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.116);
}

.priority input:checked + label {
    border: none;
}

label[for="urgent"] {
    background-color: rgba(255, 0, 0, 0.651);
}

label[for="important"] {
    background-color: rgba(255, 157, 29, 0.637);
}

label[for="mild"] {
    background-color: rgba(0, 153, 255, 0.623);
}

.btn-div {
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-column: 1 / -1;
    justify-content: space-evenly;
}

.btn-div button {
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.pop .submit-btn {
    background-color: var(--secondary-clr);
}

.pop .cancel-btn {
    background-color: #9ebba860;
}